
.card-container {
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    margin: 3rem 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card-container__desc {
        order: 2;
        margin: 2rem;
        text-align: center;

        .desc {
            
            .desc__title {
                color: $main-head-stat;
                margin-bottom: 15px;

                span {
                    color: $accent;
                }
            }

            p {
                color: $main-parag;
                margin-bottom: 20px;
            }

            .numbers {
                display: flex;
                align-items: center;
                justify-content: center;

                .number__box {
                    margin-bottom: 15px;
                }
            }
        }
    }
}